{{getItemContent wpitem_uid=$m_arrPageItem.wpitem_uid}}
{{getItemProduct932 wpitem_uid=$m_arrPageItem.wpitem_uid
                    limit=$m_arrPageItem.wpitem_prod_count
                    prod_is_search=1
                    prod_is_marketing=0
                    prod_in_stock=0}}
{{if $smarty.now|date_format:'%Y-%m-%d %H:%M'<$m_arrWebsitePageItemContent[0].wpicon_c1}}
<div class="iopen-shop-item-box iopen-shop-item-mb it927-default it932_{{$m_arrPageItem.wpitem_uid}}" style="position:relative;">
    <div class="clock-box">
        <div class="clock-hour" style="background:#008062;">
            <div class="top"></div>
            <div class="right"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="center"></div>
            <div class="hour"></div>
            <div class="minute"></div>
        </div>
    </div>
    <div class="iopen-shop-item-content it932-item-content03" style="background:{{$m_arrWebsitePageItemContent[0].wpicon_c3}};">
        <div class="it932-s2-box01">
            <ul>
                <li><h4>限時折購</h4></li>
                <li>
                    <div class="it932-s2-h">
                        <div><h2>{{$m_arrWebsitePageItemContent[0].wpicon_title}}</h2></div>
                        <div><h3>{{$m_arrWebsitePageItemContent[0].wpicon_subtitle}}</h3></div>
                    </div>
                </li>
            </ul>
            <div class="it932-s2-mobile" style="display:none;">
                <h2><span>限時折購</span>{{$m_arrWebsitePageItemContent[0].wpicon_title}}</h2>
                <h3>{{$m_arrWebsitePageItemContent[0].wpicon_subtitle}}</h3>
            </div>
        </div>
        <div class="it932-s2-box02" style="background: {{$m_arrWebsitePageItemContent[0].wpicon_c2}};"><!--這裡可以換底色-->
            <span>倒數</span><span class="clock02"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>:<span>&nbsp;</span><span>&nbsp;</span>:<span>&nbsp;</span><span>&nbsp;</span></span><span>截止</span>
        </div>
        <div class="iopen-shop-item-content it927-item-content it932-s2-p04">
            <div style="position:absolute; background:#FEA811; height:15px; width:100%;"></div>
            <ul class="it927-carousel-box owl-carousel">
                {{foreach from=$m_arrWebsitePageItemProduct item=m_arrProduct}}
                <li>
                    <div class="pic-shop-pds-default01 it932-s2-p01">
                        <div class="pic-shop-pds-imgbox {{if ($m_arrProduct.prod_stock-$m_arrProduct.prod_safety_stock)<=0}}pic-shop-pds-stock-block{{/if}} it932-s2-p02"
                             style="border-radius: 10px;"><!--缺貨時增加class name pic-shop-pds-stock-block-->
                            {{if ($m_arrProduct.prod_stock-$m_arrProduct.prod_safety_stock)<=0}}
                            <div class="pic-shop-pds-stock" style="border-radius: 10px;" onclick="window.location.href='{{$m_arrProduct.product_detail_url}}';"><span>補貨中</span></div>
                            {{/if}}
                            {{if $m_arrProduct.selling_price < $m_arrProduct.prod_sticker_price}}
                            {{getProdDiscountNumber selling_price=$m_arrProduct.selling_price prod_sticker_price=$m_arrProduct.prod_sticker_price}}
                            <div class="pic_pds_discount_tag"><span class="pic_pds_discount_number">{{$discount_num}}</span><span>折</span></div>
                            {{/if}}
                            <a href="{{$m_arrProduct.product_detail_url}}" title="{{$m_arrProduct.prod_name}}" style="border-radius: 10px;">
                                <img src="{{$m_arrProduct.prod_file_url}}" alt="{{$m_arrProduct.prod_name}}">
                            </a>
                        </div>
                        <div class="pic-shop-pds-infobox it932-s2-p03">
                            <h2><a href="{{$m_arrProduct.product_detail_url}}">{{$m_arrProduct.prod_name}}</a></h2>
                            <div class="pic-shop-pds-bottom">
                                <div class="pic-shop-pds-price">
                                    <ul>
                                        <li class="pic-shop-pds-price_01"> {{if $m_arrProduct.selling_price < $m_arrProduct.prod_sticker_price}}${{$m_arrProduct.prod_sticker_price|number_format:0}}{{/if}}</li>
                                        <li class="pic-shop-pds-price_02"><span>$</span>{{$m_arrProduct.selling_price|number_format:0}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="it932-s2-bar">
                                {{math equation='x/y' assign=sales_percent x=$m_arrProduct.prod_sales_count y=($m_arrProduct.prod_stock-$m_arrProduct.prod_safety_stock)}}
                                <div style="background:#F37721; width:{{$sales_percent}}%;"></div>
                            </div>
                            <div class="it932-s2-bar-num">剩餘{{$m_arrProduct.prod_stock-$m_arrProduct.prod_safety_stock}}件</div>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
        </div>
    </div>
</div>
{{/if}}
<style>
    .it932-item-content03 {
        background: #F8F8F8;
        border-radius: 180px 10px 10px 10px;
        overflow: hidden;
        padding-bottom: 15px;
    }

    .it932-s2-box01 {
        height: 96px;
        position: relative;
        padding-left: 184px;
        color: #2f2f2f;
    }

    .clock-box {
        position: absolute;
        left: 0;
        top: 70px;
    }

    .it932-s2-box01 ul {
        display: flex;
        flex-wrap: wrap;
        line-height: 96px;
    }

    .it932-s2-box01 ul li:nth-child(1) h4 {
        width: 150px;
        color: #F37721;
        font-size: 34px;
        font-weight: bold;
    }

    .it932-s2-box01 ul li:nth-child(2) {
        width: calc(100% - 200px);
    }

    .it932-s2-box01 ul li:nth-child(2) .it932-s2-h {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .it932-s2-box01 ul li:nth-child(2) .it932-s2-h div:nth-child(1) {
        font-size: 30px;
        width: 45%;
    }

    .it932-s2-box01 ul li:nth-child(2) .it932-s2-h div:nth-child(2) {
        width: 55%;
    }

    .it932-s2-box01 ul li:nth-child(2) .it932-s2-h div:nth-child(1) h2, .it932-s2-box01 ul li:nth-child(2) .it932-s2-h div:nth-child(2) h3 {
        width: 100%;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-weight: normal;
    }

    .it932-s2-box02 {
        background: #FEA811;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 35px 20px;
        text-align: center;
        color: #fff;
        font-size: 34px;
    }

    .it932-s2-box02 span {
        margin: 0 4px;
    }

    .it932-s2-p01 {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .pic-shop-pds-default01 .it932-s2-p02 {
        width: 180px;
    }

    .it932-s2-p03 {
        width: calc(100% - 180px);
        padding: 15px;
        padding-right: 20px;
    }

    .it932-item-content03 .owl-carousel .owl-nav .owl-prev {
        left: 25px;
    }

    .it932-item-content03 .owl-carousel .owl-nav .owl-next {
        right: 25px;
    }

    .it932-s2-p04 {
        position: relative;
    }

    .it932-s2-bar {
        position: relative;
        width: 160px;
        height: 12px;
        border-radius: 50px;
        background: #FFF;
        border: 1px solid #dedede;
        overflow: hidden;
    }

    .it932-s2-bar div {
        position: absolute;
        left: 0;
        top: 0;
        height: 12px;
    }

    .it932-s2-bar-num {
        width: 160px;
        font-size: 11px;
        color: #979797;
        line-height: 20px;
        text-align: right;
        padding-right: 5px;
    }

    .clock-hour {
        position: relative;
        height: 125px;
        width: 125px;
        background: #008062;
        box-sizing: border-box;
        border-radius: 100%;
        border: 6px solid #fff;
        position: absolute;
        top: -15px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .clock-hour .top {
        position: absolute;
        width: 3px;
        height: 8px;
        background: #fff;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .clock-hour .right {
        position: absolute;
        width: 8px;
        height: 3px;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
    }

    .clock-hour .bottom {
        position: absolute;
        width: 3px;
        height: 8px;
        background: #fff;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }

    .clock-hour .left {
        position: absolute;
        width: 8px;
        height: 3px;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
    }

    .clock-hour .center {
        height: 6px;
        width: 6px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        border-radius: 100%;
    }

    .clock-hour .shadow {
        height: 200px;
        width: 200px;
        position: absolute;
        left: 60px;
        top: 60px;
        transform: rotate(135deg);
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    }

    .clock-hour .hour {
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 60s infinite linear;
    }

    .clock-hour .hour:before {
        position: absolute;
        content: "";
        background: #fff;
        height: 60px;
        width: 3px;
        top: 30px;
    }

    .clock-hour .minute {
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 30s infinite linear;
    }

    .clock-hour .minute:before {
        position: absolute;
        content: "";
        background: #fff;
        height: 40px;
        width: 1px;
        top: 50px;
    }

    .clock-hour .second {
        width: 2px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        animation: time 15s infinite linear;
    }

    .clock-hour .second:before {
        position: absolute;
        content: "";
        background: #fff;
        height: 45px;
        width: 2px;
        top: 45px;
    }

    @keyframes time {
        to {
            transform: rotate(360deg);
        }
    }

    .clock02 {
        position: relative;
        font-family: monaco, consolas, "courier new", monospace;
        font-size: 2.8rem;
        line-height: 1.875;
    }

    /*.clock02:before,*/
    /*.clock02:after {*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    bottom: 0;*/
    /*    content: ':';*/
    /*    z-index: 2;*/
    /*    line-height: 1.15;*/
    /*    color: #000;*/
    /*}*/

    .clock02:before {
        left: 2.825em;
    }

    .clock02:after {
        right: 2.825em;
    }

    .clock02 span {
        position: relative;
        display: inline-block;
        padding: 0 .4em;
        margin: 0 .06125em;
        z-index: 1;

        -webkit-transform: perspective(750);
        -moz-transform: perspective(750);
        -ms-transform: perspective(750);
        transform: perspective(750);

        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .clock02 span:first-child {
        margin-left: 0;
    }

    .clock02 span:last-child {
        margin-right: 0;
    }

    /*.clock02 span:nth-child(2),*/
    /*.clock02 span:nth-child(4) {*/
    /*    margin-right: .3em;*/
    /*}*/

    /*.clock02 span:nth-child(3),*/
    /*.clock02 span:nth-child(5) {*/
    /*    margin-left: .3em;*/
    /*}*/

    .clock02 span:before,
    .clock02 span:after {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: #eee;
        text-shadow: 0 1px 0 #fff;
        background: #000;
        border-radius: .1em;
        outline: 1px solid transparent; /* fix jagged edges in ff */

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;

        -webkit-transition: -webkit-transform .75s, opacity .75s;
        -moz-transition: -moz-transform .75s, opacity .75s;
        -ms-transition: -ms-transform .75s, opacity .75s;
        transition: transform .75s, opacity .75s;
    }

    .clock02 span:before {
        opacity: 1;
        z-index: 1;
        content: attr(data-old);

        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;

        -webkit-transform: translate3d(0, 0, 0) rotateX(0);
        -moz-transform: translate3d(0, 0, 0) rotateX(0);
        -ms-transform: translate3d(0, 0, 0) rotateX(0);
        transform: translate3d(0, 0, 0) rotateX(0);
    }

    .clock02 span:after {
        opacity: 0;
        z-index: 2;
        content: attr(data-now);

        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;

        -webkit-transform: translate3d(0, -102.5%, 0) rotateX(90deg);
        -moz-transform: translate3d(0, -102.5%, 0) rotateX(90deg);
        -ms-transform: translate3d(0, -102.5%, 0) rotateX(90deg);
        transform: translate3d(0, -102.5%, 0) rotateX(90deg);
    }

    .clock02 .flip:before {
        opacity: 0;
        -webkit-transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
        -moz-transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
        -ms-transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
        transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
    }

    .clock02 .flip:after {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateX(0);
        -moz-transform: translate3d(0, 0, 0) rotateX(0);
        -ms-transform: translate3d(0, 0, 0) rotateX(0);
        transform: translate3d(0, 0, 0) rotateX(0);
    }

    @media screen and (max-width: 1000px) {
        .it932-item-content03 {
            border-radius: 130px 10px 10px 10px;
        }

        .it932-s2-box01 {
            padding-left: 140px;
            padding-top: 20px;
        }

        .it932-s2-box01 ul {
            display: none;
        }

        .it932-s2-mobile {
            display: block !important;
        }

        .it932-s2-mobile h2, .it932-s2-mobile h3 {
            font-size: 22px;
            line-height: 28px;
            height: 28px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-weight: normal;
        }

        .it932-s2-mobile h2 span {
            color: #F37721;
        }

        .it932-s2-box02 {
            font-size: 12px;
        }

        .clock02 {
            font-size: 1.8rem;
            line-height: 2.875;
        }

        .it932-s2-p01 {
            display: block;
        }

        .it932-s2-p01 {
            max-width: 270px;
        }

        .it932-s2-p03 {
            width: 100%;
            padding: 15px;
        }

        .pic-shop-pds-default01 .it932-s2-p02 {
            width: 100%;
        }

        .it932-s2-p04 {
            padding: 0 10px;
        }

        .it932-s2-bar, .it932-s2-bar-num {
            width: 100%;
        }
    }
</style>

<script type="text/javascript" src="{{$sys_arrWebsite.website_url}}javascripts/jquery.countdown.min.js"></script><!--倒數計時-->
<script>
    /* 電腦 */
    {{if !$mobileDeviceDirected}}
    $('.iopen-shop-item-content .it927-carousel-box').owlCarousel({
        loop: true,
        margin: 15,
        nav: true,
        center: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            1000: {
                items: 2.8
            }
        }
    });
    {{else}}
    /* 手機 */
    $('.iopen-shop-item-content .it927-carousel-box').owlCarousel({
        loop: true,
        margin: 15,
        nav: false,
        dots: false,
        autoplay: true,
        autoplayTimeout: 6500,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 2
            },
            1000: {
                items: 2
            }
        }
    });
    {{/if}}

    {{if !$mobileDeviceDirected}}
    $("a.cart_light_box").fancybox({
        width	    : 600,
        fitToView	: false,
        autoSize	: false,
        title		: false
    });
    {{/if}}

    var Clock = (function () {

        var exports = function (element) {
            this._element = element;
            // var html = '';
            // for (var i = 0; i < 6; i++) {
            //     html += '<span>&nbsp;</span>';
            // }
            // this._element.innerHTML = html;
            this._slots = this._element.getElementsByTagName('span');
            this._tick();
        };

        exports.prototype = {

            _tick: function () {
                var time = new Date();
                var end_time = new Date('{{$m_arrWebsitePageItemContent[0].wpicon_c1}}:00');
                var itime = Math.abs(end_time-time)
                var hours = Math.floor(itime / 3600000);
                var minutes = Math.floor((itime % 3600000) / 60000);
                var seconds = Math.floor((itime % 60000) / 1000);
                if((end_time-time)<0) {
                    $('.it932_{{$m_arrPageItem.wpitem_uid}}').hide().parents('.C_Box').hide();
                    $('.it932_{{$m_arrPageItem.wpitem_uid}}').hide().prev().hide();
                }
                else {
                    this._update(hours + this._pad(minutes) + this._pad(seconds));
                    var self = this;
                    setTimeout(function () {
                        self._tick();
                    }, 1000);
                }
            },

            _pad: function (value) {
                return ('0' + value).slice(-2);
            },

            _update: function (timeString) {
                var i = 0, l = this._slots.length, value, slot, now;
                if(parseInt(timeString) < 9999999){
                    this._slots[0].style.display = 'none';
                    timeString = '0' + timeString;
                    i=1;
                }
                if(parseInt(timeString) < 999999){
                    this._slots[1].style.display = 'none';
                    timeString = '0' + timeString;
                    i=2;
                }
                if(parseInt(timeString) < 99999){timeString = '0' + timeString;}
                for (; i < l; i++) {

                    value = timeString.charAt(i);
                    slot = this._slots[i];
                    now = slot.dataset.now;

                    if (!now) {
                        slot.dataset.now = value;
                        slot.dataset.old = value;
                        continue;
                    }

                    if (now !== value) {
                        this._flip(slot, value);
                    }
                }
            },

            _flip: function (slot, value) {

                // setup new state
                slot.classList.remove('flip');
                slot.dataset.old = slot.dataset.now;
                slot.dataset.now = value;

                // force dom reflow
                slot.offsetLeft;

                // start flippin
                slot.classList.add('flip');

            }

        };

        return exports;
    }());

    var i = 0, clock02s = document.querySelectorAll('.clock02'), l = clock02s.length;
    for (; i < l; i++) {
        new Clock(clock02s[i]);
    }

</script>