<style>

.it927-style01 .it927-item-content > ul{ width: 100%;}
.it927-style01 .it927-item-content > ul > li{ float: left; display: block; width:calc(100%/5); padding:0 10px 10px 10px;}

@media screen and (max-width: 768px){
  .it927-style01 .it927-item-content > ul > li{ width:calc(100%/2);}
}

</style>

{{getPageItemByUid wpitem_uid=$m_arrPageItem.wpitem_uid}}

{{getItemContent wpitem_uid=$m_arrPageItem.wpitem_uid}}

{{getItemProduct wpitem_uid=$m_arrPageItem.wpitem_uid
                wpitem_prod_rule=$m_arrPageItem.wpitem_prod_rule
                chose_rec_prod=$chose_rec_prod
                limit=$m_arrPageItem.wpitem_prod_count
                prod_is_search=1
                prod_is_marketing=0
                prod_in_stock=0}}
{{if !$mobileDeviceDirected}}
{{math equation='100/x' x=$m_arrPageItem.wpitem_prod_col assign="prod_col"}}
{{else}}
{{math equation='100/x' x=$m_arrPageItem.wpitem_prod_col_mobile assign="prod_col"}}
{{/if}}

{{assign var="wpitem_plus_param" value=$m_arrPageItemIdx.wpitem_plus_param|json_decode:1}}
<div class="iopen-shop-item-box iopen-shop-item-mb it927-style01 it927-{{$m_arrPageItem.wpitem_uid}}">
  <div class="iopen-shop-item-content it927-item-content">
    <ul class="clearfix">
      {{foreach from=$m_arrWebsitePageItemProduct item=m_arrProduct}}
        <li style="width:{{$prod_col}}%;">
            <div class="pic-shop-pds-default01">
                <div class="pic-shop-pds-imgbox {{if ($m_arrProduct.prod_stock-$m_arrProduct.prod_safety_stock)<=0}}pic-shop-pds-stock-block{{/if}}" {{if $wpitem_plus_param.border}}style="border-radius: {{$wpitem_plus_param.border_radius}}px;overflow: hidden;"{{/if}}>
                    {{if ($m_arrProduct.prod_stock-$m_arrProduct.prod_safety_stock)<=0}}
                    <div class="pic-shop-pds-stock" onclick="window.location.href='{{$m_arrProduct.product_detail_url}}';"><span>補貨中</span></div>
                    {{/if}}
                    {{if $m_arrProduct.selling_price < $m_arrProduct.prod_sticker_price}}
                    {{getProdDiscountNumber selling_price=$m_arrProduct.selling_price prod_sticker_price=$m_arrProduct.prod_sticker_price}}
                    <div class="pic_pds_discount_tag"><span class="pic_pds_discount_number">{{$discount_num}}</span><span>折</span></div>
                    {{/if}}
                    <a href="{{$m_arrProduct.product_detail_url}}" title="{{$m_arrProduct.prod_name}}">
                        <img src="{{$m_arrProduct.prod_file_url}}" alt="{{$m_arrProduct.prod_name}}">
                    </a>
                </div>
                <div class="pic-shop-pds-infobox">
                    <h2><a href="{{$m_arrProduct.product_detail_url}}">{{$m_arrProduct.prod_name}}</a></h2>
                    <div class="pic-shop-pds-bottom">
                        <div class="pic-shop-pds-price">
                            <ul>
                                <li class="pic-shop-pds-price_01"> {{if $m_arrProduct.selling_price < $m_arrProduct.prod_sticker_price}}${{$m_arrProduct.prod_sticker_price|number_format:0}}{{/if}}</li>
                                <li class="pic-shop-pds-price_02"><span>$</span>{{$m_arrProduct.selling_price|number_format:0}}</li>
                            </ul>
                        </div>
                        <div class="pic-shop-pds-btn">
                            <div class="pic-shop-pds-addlist addlist_{{$m_arrProduct.prod_uid}}{{prodInTraceListClass class='active' prod_uid=$m_arrProduct.prod_uid}}"><a href="javascript:void(0);" title="加入追蹤清單" onclick="add2traceBBC('{{$m_arrProduct.prod_uid}}','{{$m_arrProduct.prod_no}}','{{$m_arrProduct.selling_price}}')">加入追蹤清單</a></div>
                            {{if $m_arrProduct.prod_market_sdate <= ($smarty.now|date_format:"%Y-%m-%d %H:%M:%S") AND $m_arrProduct.prod_market_edate >= ($smarty.now|date_format:"%Y-%m-%d %H:%M:%S") AND $m_arrProduct.prod_marketing}}
                            {{if $m_arrProduct.webMarketing || $m_arrProduct.discount_range_setting.methods}}
                            <div class="pic-shop-pds-addcart"><a class="cart_light_box" href="#marketing_{{$m_arrProduct.prod_uid}}" title="加入購物車">加入購物車</a></div><!---九大行銷--->
                            {{elseif $m_arrProduct.prod_limit_sale == '0' AND $m_arrProduct.prod_shopping_cart_mode == '1'}}
                            <div class="pic-shop-pds-addcart"><a href="javascript:void(0);" title="直接購買" onclick="buyNowBBC('{{$m_arrProduct.prod_no}}','{{$m_arrProduct.web_byeurl}}')">直接購買</a></div>
                            {{elseif $m_arrProduct.prod_limit_sale == '0'}}
                            <div class="pic-shop-pds-addcart"><a href="javascript:void(0);" title="加入購物車" onclick="goCartMainBBC('{{$m_arrProduct.prod_no}}','{{$m_arrProduct.web_byeurl}}',{{if $m_arrProduct.prod_limit_buy>0 OR $m_arrProduct.prod_limit_buy_alltime>0}}'1'{{else}}'0'{{/if}})">加入購物車</a></div>
                            {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{*九大行銷 light box *}}
            {{if $m_arrProduct.webMarketing || $m_arrProduct.discount_range_setting.methods}}
            <div class="setP_stagingBoxIn jooshop_addcar_box" id="marketing_{{$m_arrProduct.prod_uid}}" style="display: none;">
                <div class="addcar_box">
                    {{if !$mobileDeviceDirected}}
                    <div class="addcar_top">此商品適用下列優惠，請點選連結至活動頁選購</div>
                    {{/if}}

                    {{if $m_arrProduct.discount_range_setting.methods}}
                    <div class="addcar_box_deta jooshop_btn_color">
                        <p>
                            <span class="highlight_cheap">{{$m_arrProduct.discount_range_setting.best_methods.discount_pct}}折</span>
                            此商品 最低價{{$m_arrProduct.discount_range_setting.best_methods.price_per}}元起
                        </p>
                        <a href="{{$m_arrProduct.prod_url}}">前往商品頁</a>
                    </div>
                    {{/if}}
                    {{foreach from=$m_arrProduct.webMarketing item=arrMkt}}
                    <div class="addcar_box_deta jooshop_btn_color"><p>{{$arrMkt.wmkt_title}}</p><a
                            href="../{{$m_arrProduct.web_byeurl}}/index.php?action=website_marketing&wmkt_ou={{$arrMkt.wmkt_uid}}">{{$lang.root.product_detail.5}}<!--前往活動頁--></a>
                    </div>
                    {{/foreach}}
                </div>
                {{if $m_arrProduct.prod_limit_sale!=1}}
                <div class="tbs_seemore jooshop_btn_color">
                    <a href="javascript:void(0);" onclick="javascript:closeBoxBBC('{{$m_arrProduct.prod_no}}','{{$m_arrProduct.web_byeurl}}','{{$m_arrProduct.prod_shopping_cart_mode}}',{{if $m_arrProduct.prod_limit_buy>0 OR $m_arrProduct.prod_limit_buy_alltime>0}}'1'{{else}}'0'{{/if}});">不需優惠，直接加入購物車</a>
                </div>
                {{/if}}
            </div>
            {{/if}}
        </li>
      {{/foreach}}
    </ul>
  </div>
</div>

<script>
    {{if $m_arrWebsitePageItemProduct|@count == 0}}
    $('.it927-{{$m_arrPageItem.wpitem_uid}}').hide();
    $('.it927-{{$m_arrPageItem.wpitem_uid}}').parents('.C_Box').hide();
    $('.it927-{{$m_arrPageItem.wpitem_uid}}').prev().prev().hide();
    {{/if}}
</script>