<style>
    .product-sort-content{padding: 10px; display: block;}
    .widget-header-flat { background: #f7f7f7;}
    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { border-radius: 0!important; color: #858585; background-color: #fff; border: 1px solid #d5d5d5; padding: 5px 4px; line-height: 1.2; font-size: 14px; font-family: inherit; -webkit-box-shadow: none!important; box-shadow: none!important; -webkit-transition-duration: .1s; transition-duration: .1s;}
    .form-control, select { border-radius: 0; -webkit-box-shadow: none!important; box-shadow: none!important; color: #858585; background-color: #fff; border: 1px solid #d5d5d5; }
    select { padding: 3px 4px; height: 30px; }
    .admweb-v2-marketing-form-head_search-btn { padding: 10px; cursor: pointer; border-radius: 8px; }
    .pic-BgText-color-green { background: var(--pic-green); color: #fff; border: var(--pic-green) solid 1px; }
    th, td, .table-bordered { border-radius: 0!important; }
    .table-bordered { border: 1px solid #ddd; }
    .table { width: 100%; margin-bottom: 20px; }
    table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; }
    .table thead tr { color: #707070; font-weight: normal; background: #f2f2f2; background-image: -webkit-gradient(linear, left 0, left 100%, from(#f8f8f8), to(#ececec)); background-image: -webkit-linear-gradient(top, #f8f8f8, 0%, #ececec, 100%); background-image: -moz-linear-gradient(top, #f8f8f8 0, #ececec 100%); background-image: linear-gradient(to bottom, #f8f8f8 0, #ececec 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0); }
    caption, th { text-align: left; }
    .table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td { padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #ddd; }
    .table thead>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd; }
    .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td { border: 1px solid #ddd; }
    .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th { background-color: #f9f9f9; }
    .table-bordered>thead>tr>th, .table-bordered>thead>tr>td { border-bottom-width: 2px; }
    .table thead tr th { border-color: #DDD; font-weight: bold; }
    .table thead tr th:first-child { border-left-color: #f1f1f1; }
    .table.table-bordered thead tr th { vertical-align: middle; }
    .table caption+thead tr:first-child th, .table colgroup+thead tr:first-child th, .table thead:first-child tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child td { border-top: 0; }
    .table.table-bordered thead tr th:first-child { border-left-color: #DDD; }
    .table .table { background-color: #fff; }
    .descTitle { color: #478fca; }
    .admweb-v2-adjustment a { color: #428bca; text-decoration: none; }
    .admweb-v2-adjustment a:hover,
    .admweb-v2-adjustment a:focus { color: #2a6496; text-decoration: underline; }
    .label { display: inline; font-size: 12px; line-height: 1.15; height: 20px;padding: 0.2em 0.6em 0.3em; font-size: 75%; font-weight: bold; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 0.25em; border-radius: 0; text-shadow: none; font-weight: normal; display: inline-block; background-color: #abbac3;}
    .label-warning { background-color: #f89406;}
    .label-inverse, .badge-inverse { background-color: #333; }

</style>

<script language="javascript">
    $(document).ready(function(){
        $("input[name='prod_sort_uid[]']").on("click", function(){
            var _id = $(this).val();
            //alert(_id);
            var divId = 'sort_layer_' + _id;
            if($.escapeSelector("#"+divId).length){
                if (document.getElementById(divId).style.display == 'none' && $(this).is(":checked")){
                    _sort_layer( _id );
                }
                if(!$(this).is(":checked")){
                    $.escapeSelector("#"+divId).each((index, tr)=> {
                        $(tr).find('input:checkbox').prop('checked', false);
                    })
                }
            }
        })

        $("input[name='prod_sort_uid[]']:checked").each((index, tr)=> {
            var _id = $(tr).val();
            var divId = 'sort_layer_' + _id;
            var iconId = 'icon_' + _id;
            if($.escapeSelector("#"+divId).length){
                if (document.getElementById(divId).style.display == 'none'){
                    ij_styleDisplay( divId, true );
                    document.getElementById(iconId).src = '../images/icons/icon_202.gif';
                }
            }
        })
    });

    function _sort_layer( _id, type ){
        var divId = 'sort_layer_' + _id;
        var iconId = 'icon_' + _id;

        if(type){
            ij_styleDisplay( divId, true );
            document.getElementById(iconId).src = '../images/icons/icon_202.gif';
        }else{
            if (document.getElementById(divId).style.display == 'none'){
                ij_styleDisplay( divId, true );
                document.getElementById(iconId).src = '../images/icons/icon_202.gif';
            }else{
                ij_styleDisplay( divId, false );
                document.getElementById(iconId).src = '../images/icons/icon_201.gif';
            }
        }
    }

    var arrSortUid_0 = [];
    var arrSortUid_1 = [];

    var _arrSortMapping = [];

    function _sort_layer_all( arrSortUid, type ){
        for( var i=0 ; i < arrSortUid.length ; i++ ){
            var divId = 'sort_layer_' + arrSortUid[i];
            ij_styleDisplay( divId, type );

            var iconId = 'icon_' +  arrSortUid[i];
            if( type ){
                document.getElementById(iconId).src = '../images/icons/icon_202.gif';
            }else{
                document.getElementById(iconId).src = '../images/icons/icon_201.gif';
            }
        }
    }

    function _check_all_prod(){
        if(objFormA.form.check_all_prod.checked){
            objFormA.setCheckedAll( 'prod_uid', true );
        }else{
            objFormA.setCheckedAll( 'prod_uid', false );
        }
    }

    var objFormA;
    function init(){
        objFormA = new FormControl( document.formA, document );
        {{if $sys_arrWebsite.web_category == "4" && $m_arrSystem.prod_sort_to_mall == "1"}}
        {{s_product_sortByWuidPuid prod_sort_p_uid=0 prod_sort_layer=1 in_web_uid="1"}}<!--{{*商城商品分類 Layer 1 *}}-->
        {{else}}
        {{s_product_sortByWuidPuid prod_sort_p_uid=0 prod_sort_layer=1}}<!--{{*商品分類 Layer 1 *}}-->
        {{/if}}

            {{section name=i_1 loop=$m_arrProductSort_1}}
            _sort_layer({{$m_arrProductSort_1[i_1].prod_sort_uid}})
            {{/section}}
        }
    IJ.addOnLoad(init);

    function chk_layer_totop(Ele,Layer){
        //id -> chkbox___
        var _ID = Ele.getAttribute('id');
        if(Ele.checked){
            for(var i=Layer; i>1 ;i--){
                var _ID_temp = _ID.slice(0,(i+5));
                document.getElementById(_ID_temp).checked = true;
            }
        }
    }
</script>

<div class="pic-default pic-flex admweb-v2-orderlist">
    <!-- 左側選單 Start -->
    <div class="admweb-v2-seller-front-left-box">
        {{include file="admweb_2/admweb.main_menu.htm"}}
    </div>
    <!-- 左側選單 End -->

    <!-- 右側內容 Start -->
    <div class="pic-front-pages-right admweb-v2-adjustment">
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
                <form method="post" action="{{$m_inURL}}">
                    <td align="right" class="meatTxt">
                        <div class="widget-header-flat" style="padding:10px; border-bottom:1px solid #DDD;">
                            {{$lang.admweb.product.17}}<!--{{*商品名稱(貨號) *}}-->：
                            <input name="s_prod_name" id="s_prod_name" type="text" size="20" class="FormTxt" value="" />
                            <!--為了matching媒合系統所增加的條件-->
                            {{if $m_arrSystem.sys_byeurl !='matching'}}、
                            {{$lang.admweb.product.29}}<!--{{*上架 *}}-->：
                            <select name="s_prod_display" id="web_uid" class="FormTxt">
                                <option value="">{{$lang.admin.basic.65}}<!--{{*全部 *}}--></option>
                                <option value="1" {{if $m_arrSearch.s_prod_display == "1"}}selected{{/if}}>{{$lang.admin.basic.25}}<!--{{*是 *}}--></option>
                                <option value="0" {{if $m_arrSearch.s_prod_display == "0"}}selected{{/if}}>{{$lang.admin.basic.26}}<!--{{*否 *}}--></option>
                            </select>、
                            {{$lang.admweb.product.28}}<!--{{*銷售 *}}-->：
                            <select name="s_prod_marketing" id="web_uid" class="FormTxt">
                                <option value="">{{$lang.admin.basic.65}}<!--{{*全部 *}}--></option>
                                <option value="1" {{if $m_arrSearch.s_prod_marketing == "1"}}selected{{/if}}>{{$lang.admin.basic.25}}<!--{{*是 *}}--></option>
                                <option value="0" {{if $m_arrSearch.s_prod_marketing == "0"}}selected{{/if}}>{{$lang.admin.basic.26}}<!--{{*否 *}}--></option>
                            </select>
                            {{/if}}
                            <button class="iopen-search pic-BgText-color-green admweb-v2-marketing-form-head_search-btn js-marketing-form-head-search-btn" name="Submit" type="submit" data-dismiss="modal">
                                <i class="icon-search bigger-110"></i> {{$lang.admin.basic.16}}<!--{{*搜尋 *}}-->
                            </button>
                        </div>
                    </td>
                </form>
            </tr>
        </table>
        <table class="product-sort-content" width="100%"  border="0" cellpadding="0" cellspacing="5">
            <form name="formA" method="post" action="" enctype="multipart/form-data" onsubmit="return _CS_checkAdd(this);">
                <tr>
                    <td width="40%" valign="top">

                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{$lang.admweb.product.9}}<!--{{*商品列表 *}}--></th>
                            </tr>
                            </thead>
                            <tr>
                                <td>
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="160">&nbsp;{{$lang.admweb.product.4}}<!--{{*商品貨號 *}}--><!--{{* <br>&nbsp;{{$lang.admweb.product.5}}商品原始貨號 *}}--></th>
                                                <th>&nbsp;{{$lang.admweb.product.3}}<!--{{*商品名稱 *}}--></th>
                                                <!--為了machting媒合系統所增加的條件-->
                                                {{if $m_arrSystem.sys_byeurl !='matching'}}
                                                <th width="40">{{$lang.admweb.product.28}}<!--{{*銷售 *}}--></th>
                                                <th width="40">{{$lang.admweb.product.29}}<!--{{*上架 *}}--></th>
                                                {{/if}}
                                                <th width="40"><input name="check_all_prod" id="check_all_prod" type="checkbox" value="1" onclick="javascript:_check_all_prod();"/></th>
                                            </tr>
                                        </thead>
                                        {{section name=i loop=$m_arrProduct start=$m_arrPage.row_start max=$m_arrPage.rows_num step=$m_arrPage.cols_num}}
                                        <tr>
                                            <td>{{$m_arrProduct[i].prod_no}}<br>
                                                <span class="descTitle">{{$m_arrProduct[i].prod_no_old}}</span>
                                            </td>
                                            <td>
                                                <a href="{{$sys_arrWebsite.website_url}}index.php?action=product_detail&prod_no={{$m_arrProduct[i].prod_no}}" target="_blank">
                                                    {{$m_arrProduct[i].prod_name}}
                                                </a>
                                                {{if $m_arrProduct[i].SAP_TNT_ID <> ""}}
                                                【{{$m_arrProduct[i].SAP_TNT_ID}}】
                                                {{/if}}
                                            </td>
                                            <!--為了machting媒合系統所增加的條件-->
                                            {{if $m_arrSystem.sys_byeurl !='matching'}}
                                            <td>
                                                {{if $m_arrProduct[i].prod_marketing == 1}}
                                                <span class="label label-warning">{{$lang.admin.basic.25}}<!--{{*是 *}}--></span>
                                                {{else}}
                                                <span class="label label-inverse">{{$lang.admin.basic.26}}<!--{{*否 *}}--></span>
                                                {{/if}}
                                            </td>
                                            <td>
                                                {{if $m_arrProduct[i].prod_display == 1}}
                                                <span class="label label-warning">{{$lang.admin.basic.25}}<!--{{*是 *}}--></span>
                                                {{else}}
                                                <span class="label label-inverse">{{$lang.admin.basic.26}}<!--{{*否 *}}--></span>
                                                {{/if}}
                                            </td>
                                            {{/if}}
                                            <td><input name="prod_uid[]" id="prod_uid" type="checkbox" value="{{$m_arrProduct[i].prod_uid}}" /></td>
                                        </tr>
                                        {{/section}}

                                        {{if $m_arrProduct|@count == 0}}
                                        <tr align="center">
                                            <td height="80" colspan="6">{{$lang.admin.basic.11}}<!--{{*沒有資料 *}}--></td>
                                        </tr>
                                        {{else}}
                                        <tr>
                                            <td align="center" colspan="6">{{$m_arrPage.pager_prev}}
                                                {{$m_arrPage.pager_numeric}}
                                                {{$m_arrPage.pager_next}}</td>
                                        </tr>
                                        {{/if}}
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <!--- 商家分類表 ---------------------------------------->
                    <td width="30%" valign="top" style="padding-left:10px;">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>&nbsp;{{$lang.admweb.product_sort_per.1}}<!--{{*商品分類設定 *}}-->
                                    &nbsp;&nbsp;
                                    <a href="javascript:_sort_layer_all(arrSortUid_1, true)"><img width="12" height="12" border="0" align="absmiddle" src="../images/icons/icon_201.gif" /></a>
                                    <a href="javascript:_sort_layer_all(arrSortUid_1, false)"><img width="12" height="12" border="0" align="absmiddle" src="../images/icons/icon_202.gif" /></a></th>
                            </tr>
                            </thead>
                            <tr>
                                <td>
                                    <table width="100%">
                                    <tr>
                                        <td style="border:0;"><!--{{*商品分類 Layer 1 *}}-->
                                            {{if $sys_arrWebsite.web_category == "4" && $m_arrSystem.prod_sort_to_mall == "1"}}
                                            {{s_product_sortByWuidPuid prod_sort_p_uid=0 prod_sort_layer=1 in_web_uid="1"}}<!--{{*商城商品分類 Layer 1 *}}-->
                                            {{else}}
                                            {{s_product_sortByWuidPuid prod_sort_p_uid=0 prod_sort_layer=1}}<!--{{*商品分類 Layer 1 *}}-->
                                            {{/if}}

                                            <table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                {{section name=i_1 loop=$m_arrProductSort_1}}
                                                <tr bgcolor="#fcfcfc">
                                                    <td colspan="3">
                                                        {{if $sys_arrWebsite.web_category == "4" && $m_arrSystem.prod_sort_to_mall == "1"}}
                                                        {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_1[i_1].prod_sort_uid prod_sort_layer=2 in_web_uid=1}} <!--{{*商城商品分類 Layer 2 *}}-->
                                                        {{else}}
                                                        {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_1[i_1].prod_sort_uid prod_sort_layer=2}} <!--{{* Select Layer 2 *}}-->
                                                        {{/if}}

                                                        {{if $m_arrProductSort_2}}
                                                        <script>_arrSortMapping['{{$m_arrProductSort_1[i_1].prod_sort_uid}}'] = [];</script>
                                                        <a href="javascript:_sort_layer( '{{$m_arrProductSort_1[i_1].prod_sort_uid}}' )">
                                                            <img id="icon_{{$m_arrProductSort_1[i_1].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                src="../images/icons/icon_201.gif" /></a>
                                                        {{else}}
                                                        <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                        {{/if}}
                                                        <input name="prod_sort_uid[]" type="checkbox" id="chkbox{{$smarty.section.i_1.index}}" value="{{$m_arrProductSort_1[i_1].prod_sort_uid}}" />
                                                        {{$m_arrProductSort_1[i_1].prod_sort_name}} ({{$m_arrProductSort_1[i_1].prod_sort_uid}})</td>
                                                </tr>
                                                <!--{{*商品分類 Layer 2 *}}-->
                                                {{if $sys_arrWebsite.web_prod_sort_layer >= 2}}
                                                {{if $m_arrProductSort_2}}
                                                <script language="javascript">arrSortUid_1.push('{{$m_arrProductSort_1[i_1].prod_sort_uid}}');</script>
                                                <tr id="sort_layer_{{$m_arrProductSort_1[i_1].prod_sort_uid}}" style="display:none">
                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                    <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                        {{section name=i_2 loop=$m_arrProductSort_2}}
                                                        <script> _arrSortMapping['{{$m_arrProductSort_1[i_1].prod_sort_uid}}'].push('{{$m_arrProductSort_2[i_2].prod_sort_uid}}'); </script>
                                                        <tr bgcolor="#CCCCFF">
                                                            <td colspan="3">
                                                                {{if $sys_arrWebsite.web_category == "4" && $m_arrSystem.prod_sort_to_mall == "1"}}
                                                                {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_2[i_2].prod_sort_uid prod_sort_layer=3 in_web_uid=1}} <!--{{*商城商品分類 Layer 3 *}}-->
                                                                {{else}}
                                                                {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_2[i_2].prod_sort_uid prod_sort_layer=3}} <!--{{* Select Layer 3 *}}-->
                                                                {{/if}}

                                                                {{if $m_arrProductSort_3}}
                                                                <script>_arrSortMapping['{{$m_arrProductSort_2[i_2].prod_sort_uid}}'] = [];</script>
                                                                <a href="javascript:_sort_layer( '{{$m_arrProductSort_2[i_2].prod_sort_uid}}' )">
                                                                    <img id="icon_{{$m_arrProductSort_2[i_2].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                        src="../images/icons/icon_201.gif" /></a>
                                                                {{else}}
                                                                <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                                {{/if}}
                                                                <input name="prod_sort_uid[]" type="checkbox" id="chkbox{{$smarty.section.i_1.index}}{{$smarty.section.i_2.index}}" value="{{$m_arrProductSort_2[i_2].prod_sort_uid}}" onchange="javascript:chk_layer_totop(this,2);"/>
                                                                {{$m_arrProductSort_2[i_2].prod_sort_name}} ({{$m_arrProductSort_2[i_2].prod_sort_uid}})</td>
                                                        </tr>
                                                        <!--{{*商品分類 Layer 3 *}}-->
                                                        {{if $sys_arrWebsite.web_prod_sort_layer >= 3}}
                                                        {{if $m_arrProductSort_3}}
                                                        <script language="javascript">arrSortUid_1.push('{{$m_arrProductSort_2[i_2].prod_sort_uid}}');</script>
                                                        <tr id="sort_layer_{{$m_arrProductSort_2[i_2].prod_sort_uid}}" style="display:none">
                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                            <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                                {{section name=i_3 loop=$m_arrProductSort_3}}
                                                                <script> _arrSortMapping['{{$m_arrProductSort_2[i_2].prod_sort_uid}}'].push('{{$m_arrProductSort_3[i_3].prod_sort_uid}}'); </script>
                                                                <tr bgcolor="#fcfcfc">
                                                                    <td colspan="3">
                                                                        {{if $sys_arrWebsite.web_category == "4" && $m_arrSystem.prod_sort_to_mall == "1"}}
                                                                        {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_3[i_3].prod_sort_uid prod_sort_layer=4 in_web_uid=1}} <!--{{*商城商品分類 Layer 4 *}}-->
                                                                        {{else}}
                                                                        {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_3[i_3].prod_sort_uid prod_sort_layer=4}} <!--{{* Select Layer 4 *}}-->
                                                                        {{/if}}

                                                                        {{if $m_arrProductSort_4}}
                                                                        <script>_arrSortMapping['{{$m_arrProductSort_3[i_3].prod_sort_uid}}'] = [];</script>
                                                                        <a href="javascript:_sort_layer( '{{$m_arrProductSort_3[i_3].prod_sort_uid}}' )">
                                                                            <img id="icon_{{$m_arrProductSort_3[i_3].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                                src="../images/icons/icon_201.gif" /></a>
                                                                        {{else}}
                                                                        <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                                        {{/if}}
                                                                        <input name="prod_sort_uid[]" type="checkbox" id="chkbox{{$smarty.section.i_1.index}}{{$smarty.section.i_2.index}}{{$smarty.section.i_3.index}}" value="{{$m_arrProductSort_3[i_3].prod_sort_uid}}" onchange="javascript:chk_layer_totop(this,3);"/>
                                                                        {{$m_arrProductSort_3[i_3].prod_sort_name}} ({{$m_arrProductSort_3[i_3].prod_sort_uid}})</td>
                                                                </tr>
                                                                <!--{{*商品分類 Layer 4 *}}-->
                                                                {{if $sys_arrWebsite.web_prod_sort_layer >= 4}}
                                                                {{if $m_arrProductSort_4}}
                                                                <script language="javascript">arrSortUid_1.push('{{$m_arrProductSort_3[i_3].prod_sort_uid}}');</script>
                                                                <tr id="sort_layer_{{$m_arrProductSort_3[i_3].prod_sort_uid}}" style="display:none">
                                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                                    <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                                        {{section name=i_4 loop=$m_arrProductSort_4}}
                                                                        <script> _arrSortMapping['{{$m_arrProductSort_3[i_3].prod_sort_uid}}'].push('{{$m_arrProductSort_4[i_4].prod_sort_uid}}'); </script>
                                                                        <tr bgcolor="#CCCCFF">
                                                                            <td colspan="3">
                                                                                {{if $sys_arrWebsite.web_category == "4" && $m_arrSystem.prod_sort_to_mall == "1"}}
                                                                                {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_4[i_4].prod_sort_uid prod_sort_layer=5 in_web_uid=1}} <!--{{*商城商品分類 Layer 5 *}}-->
                                                                                {{else}}
                                                                                {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_4[i_4].prod_sort_uid prod_sort_layer=5}} <!--{{* Select Layer 5 *}}-->
                                                                                {{/if}}

                                                                                {{if $m_arrProductSort_5}}
                                                                                <script>_arrSortMapping['{{$m_arrProductSort_4[i_4].prod_sort_uid}}'] = [];</script>
                                                                                <a href="javascript:_sort_layer( '{{$m_arrProductSort_4[i_4].prod_sort_uid}}' )">
                                                                                    <img id="icon_{{$m_arrProductSort_4[i_4].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                                        src="../images/icons/icon_201.gif" /></a>
                                                                                {{else}}
                                                                                <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                                                {{/if}}
                                                                                <input name="prod_sort_uid[]" type="checkbox" value="{{$m_arrProductSort_4[i_4].prod_sort_uid}}" />
                                                                                {{$m_arrProductSort_4[i_4].prod_sort_name}} ({{$m_arrProductSort_4[i_4].prod_sort_uid}})</td>
                                                                        </tr>
                                                                        <!--{{*商品分類 Layer 5 *}}-->
                                                                        {{if $sys_arrWebsite.web_prod_sort_layer >= 5}}
                                                                        {{if $m_arrProductSort_5}}
                                                                        <script language="javascript">arrSortUid_1.push('{{$m_arrProductSort_4[i_4].prod_sort_uid}}');</script>
                                                                        <tr id="sort_layer_{{$m_arrProductSort_4[i_4].prod_sort_uid}}" style="display:none">
                                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                                            <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                                                {{section name=i_5 loop=$m_arrProductSort_5}}
                                                                                <script> _arrSortMapping['{{$m_arrProductSort_4[i_4].prod_sort_uid}}'].push('{{$m_arrProductSort_5[i_5].prod_sort_uid}}'); </script>
                                                                                <tr bgcolor="#fcfcfc">
                                                                                    <td colspan="3"><input name="prod_sort_uid[]" type="checkbox" value="{{$m_arrProductSort_5[i_5].prod_sort_uid}}" />
                                                                                        {{$m_arrProductSort_5[i_5].prod_sort_name}} ({{$m_arrProductSort_5[i_5].prod_sort_uid}})</td>
                                                                                </tr>
                                                                                {{/section}}
                                                                            </table></td>
                                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                                        </tr>
                                                                        {{/if}}
                                                                        {{/if}}
                                                                        <!--{{*商品分類 Layer 5 END *}}-->
                                                                        {{/section}}
                                                                    </table></td>
                                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                                </tr>
                                                                {{/if}}
                                                                {{/if}}
                                                                <!--{{*商品分類 Layer 4 END *}}-->
                                                                {{/section}}
                                                            </table></td>
                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                        </tr>
                                                        {{/if}}
                                                        {{/if}}
                                                        <!--{{*商品分類 Layer 3 END *}}-->
                                                        {{/section}}
                                                    </table></td>
                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                </tr>
                                                {{/if}}
                                                {{/if}}
                                                <!--{{*商品分類 Layer 2 END *}}-->
                                                {{/section}}
                                            </table>
                                            <!--{{*商品分類 Layer 1 END *}}-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <button class="pic-BgText-color-green admweb-v2-marketing-form-head_search-btn js-marketing-form-head-search-btn" name="btn_submit" type="submit" id="btn_submit" data-dismiss="modal">{{$lang.admin.basic.33}}<!--{{*設定 *}}--></button>
                                            <input name="myAct" type="hidden" value="COMMAND_EDIT" /></td>
                                    </tr>
                                </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!--- 商家分類表 END ---------------------------------------->
                    <!--- 總分類表 ---------------------------------------->
                    {{s_product_sortByWuidPuid prod_sort_p_uid=0 prod_sort_layer=1 in_web_uid="0"}} <!--{{* Select Layer 1 *}}-->
                    <script language="javascript">
                        function _CS_checkAdd(_this){
                            let param_chk = '{{$m_arrSystem.product_sort_to_last_layer}}';
                            if(param_chk == '1'){
                                var chk_prod_sort = prod_sort_chk();
                                if(!chk_prod_sort){
                                    alert('分類請設定至最後一層'); return false;
                                }
                            }

                            objFormA = new FormControl( _this, document );

                            {{if $m_arrProductSort_1}}
                            if( $("input[name='prod_sort_uid_0[]']:checked").length === 0 )
                            { alert('商品總分類，最少需勾選 1 個'); return false; }
                            if( $("input[name='prod_sort_uid[]']:checked").length === 0 )
                            { alert('商品分類，最少需勾選 1 個'); return false; }
                            {{/if}}
                        }

                        function prod_sort_chk(){
                            var is_ok = true;
                            $("input[name='prod_sort_uid[]']:checked").each((index, tr)=> {
                                var _id = $(tr).val();
                                var divId = 'sort_layer_' + _id;
                                if($.escapeSelector("#"+divId).length){
                                    var _chk = false;
                                    
                                    _arrSortMapping[_id].forEach(function(value){
                                        if($("input[value='"+value+"']").is(":checked")){
                                            _chk = true;
                                        }
                                    });
                                    if(!_chk){
                                        is_ok = false;
                                        return false;
                                    }
                                }
                            })
                            return is_ok;
                        }
                    </script>

                    {{if $m_arrProductSort_1}}
                    <td width="30%" valign="top" style="padding-left:10px;">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>&nbsp;{{$lang.admweb.product_sort_per.3}}<!--{{*商品總分類設定 *}}-->
                                    &nbsp;&nbsp;
                                    <a href="javascript:_sort_layer_all(arrSortUid_0, true)"><img width="12" height="12" border="0" align="absmiddle" src="../images/icons/icon_201.gif" /></a>
                                    <a href="javascript:_sort_layer_all(arrSortUid_0, false)"><img width="12" height="12" border="0" align="absmiddle" src="../images/icons/icon_202.gif" /></a></th>
                            </tr>
                            </thead>

                            <tr>
                                <td><table width="100%">
                                    <tr>
                                        <td style="border:0;">
                                            <!--{{*商品分類 Layer 1 *}}-->
                                            <table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                {{section name=i_1 loop=$m_arrProductSort_1}}
                                                {{if $m_arrProductSort_1[i_1].prod_sort_18years == $sys_arrWebsite.web_18years || $m_arrProductSort_1[i_1].prod_sort_18years == 1}}
                                                <tr bgcolor="#fcfcfc">
                                                    <td colspan="3">
                                                        {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_1[i_1].prod_sort_uid prod_sort_layer=2 in_web_uid="0"}} <!--{{* Select Layer 2 *}}-->
                                                        {{if $m_arrProductSort_2}}
                                                        <a href="javascript:_sort_layer( '{{$m_arrProductSort_1[i_1].prod_sort_uid}}' )">
                                                            <img id="icon_{{$m_arrProductSort_1[i_1].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                src="../images/icons/icon_201.gif" /></a>
                                                        <input name="checkbox" type="checkbox" disabled>
                                                        {{else}}
                                                        <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                        <input name="prod_sort_uid_0[]" id="prod_sort_uid_0" type="checkbox" value="{{$m_arrProductSort_1[i_1].prod_sort_uid}}" />
                                                        {{/if}}
                                                        {{$m_arrProductSort_1[i_1].prod_sort_name}} ({{$m_arrProductSort_1[i_1].prod_sort_uid}})</td>
                                                </tr>
                                                <!--{{*商品分類 Layer 2 *}}-->
                                                {{if $m_arrProductSort_2}}
                                                <script language="javascript">arrSortUid_0.push('{{$m_arrProductSort_1[i_1].prod_sort_uid}}');</script>
                                                <tr id="sort_layer_{{$m_arrProductSort_1[i_1].prod_sort_uid}}" style="display:none">
                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                    <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                        {{section name=i_2 loop=$m_arrProductSort_2}}
                                                        <tr bgcolor="#CCCCFF">
                                                            <td colspan="3">
                                                                {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_2[i_2].prod_sort_uid prod_sort_layer=3 in_web_uid="0"}} <!--{{* Select Layer 3 *}}-->
                                                                {{if $m_arrProductSort_3}}
                                                                <a href="javascript:_sort_layer( '{{$m_arrProductSort_2[i_2].prod_sort_uid}}' )">
                                                                    <img id="icon_{{$m_arrProductSort_2[i_2].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                        src="../images/icons/icon_201.gif" /></a>
                                                                <input name="checkbox" type="checkbox" disabled>
                                                                {{else}}
                                                                <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                                <input name="prod_sort_uid_0[]" id="prod_sort_uid_0" type="checkbox" value="{{$m_arrProductSort_2[i_2].prod_sort_uid}}" />
                                                                {{/if}}
                                                                {{$m_arrProductSort_2[i_2].prod_sort_name}} ({{$m_arrProductSort_2[i_2].prod_sort_uid}})</td>
                                                        </tr>
                                                        <!--{{*商品分類 Layer 3 *}}-->
                                                        {{if $m_arrProductSort_3}}
                                                        <script language="javascript">arrSortUid_0.push('{{$m_arrProductSort_2[i_2].prod_sort_uid}}');</script>
                                                        <tr id="sort_layer_{{$m_arrProductSort_2[i_2].prod_sort_uid}}" style="display:none">
                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                            <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                                {{section name=i_3 loop=$m_arrProductSort_3}}
                                                                <tr bgcolor="#fcfcfc">
                                                                    <td colspan="3">
                                                                        {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_3[i_3].prod_sort_uid prod_sort_layer=4 in_web_uid="0"}} <!--{{* Select Layer 4 *}}-->
                                                                        {{if $m_arrProductSort_4}}
                                                                        <a href="javascript:_sort_layer( '{{$m_arrProductSort_3[i_3].prod_sort_uid}}' )">
                                                                            <img id="icon_{{$m_arrProductSort_3[i_3].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                                src="../images/icons/icon_201.gif" /></a>
                                                                        <input name="checkbox" type="checkbox" disabled>
                                                                        {{else}}
                                                                        <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                                        <input name="prod_sort_uid_0[]" id="prod_sort_uid_0" type="checkbox" value="{{$m_arrProductSort_3[i_3].prod_sort_uid}}" />
                                                                        {{/if}}
                                                                        {{$m_arrProductSort_3[i_3].prod_sort_name}} ({{$m_arrProductSort_3[i_3].prod_sort_uid}})</td>
                                                                </tr>
                                                                <!--{{*商品分類 Layer 4 *}}-->
                                                                {{if $m_arrProductSort_4}}
                                                                <script language="javascript">arrSortUid_0.push('{{$m_arrProductSort_3[i_3].prod_sort_uid}}');</script>
                                                                <tr id="sort_layer_{{$m_arrProductSort_3[i_3].prod_sort_uid}}" style="display:none">
                                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                                    <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                                        {{section name=i_4 loop=$m_arrProductSort_4}}
                                                                        <tr bgcolor="#CCCCFF">
                                                                            <td colspan="3">
                                                                                {{s_product_sortByWuidPuid prod_sort_p_uid=$m_arrProductSort_4[i_4].prod_sort_uid prod_sort_layer=5 in_web_uid="0"}} <!--{{* Select Layer 5 *}}-->
                                                                                {{if $m_arrProductSort_5}}
                                                                                <a href="javascript:_sort_layer( '{{$m_arrProductSort_4[i_4].prod_sort_uid}}' )">
                                                                                    <img id="icon_{{$m_arrProductSort_4[i_4].prod_sort_uid}}" width="12" height="12" border="0" align="absmiddle"
                                                                                        src="../images/icons/icon_201.gif" /></a>
                                                                                <input name="checkbox" type="checkbox" disabled>
                                                                                {{else}}
                                                                                <img width="12" height="12" border="0" align="absmiddle" src="../images/no_img.gif" />
                                                                                <input name="prod_sort_uid_0[]" id="prod_sort_uid_0" type="checkbox" value="{{$m_arrProductSort_4[i_4].prod_sort_uid}}" />
                                                                                {{/if}}
                                                                                {{$m_arrProductSort_4[i_4].prod_sort_name}} ({{$m_arrProductSort_4[i_4].prod_sort_uid}})</td>
                                                                        </tr>
                                                                        <!--{{*商品分類 Layer 5 *}}-->
                                                                        {{if $m_arrProductSort_5}}
                                                                        <script language="javascript">arrSortUid_0.push('{{$m_arrProductSort_4[i_4].prod_sort_uid}}');</script>
                                                                        <tr id="sort_layer_{{$m_arrProductSort_4[i_4].prod_sort_uid}}" style="display:none">
                                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                                            <td><table width="100%" border="0" cellpadding="1" cellspacing="1" class="meatTxt">
                                                                                {{section name=i_5 loop=$m_arrProductSort_5}}
                                                                                <tr bgcolor=" bgcolor="#fcfcfc"">
                                                                                <td colspan="3"><input name="prod_sort_uid_0[]" id="prod_sort_uid_0" type="checkbox" value="{{$m_arrProductSort_5[i_5].prod_sort_uid}}" />
                                                                                    {{$m_arrProductSort_5[i_5].prod_sort_name}} ({{$m_arrProductSort_5[i_5].prod_sort_uid}})</td>
                                                                                </tr>
                                                                                {{/section}}
                                                                            </table></td>
                                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                                        </tr>
                                                                        {{/if}}
                                                                        <!--{{*商品分類 Layer 5 END *}}-->
                                                                        {{/section}}
                                                                    </table></td>
                                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                                </tr>
                                                                {{/if}}
                                                                <!--{{*商品分類 Layer 4 END *}}-->
                                                                {{/section}}
                                                            </table></td>
                                                            <td width="20" bgcolor="#CCCCFF">&nbsp;</td>
                                                        </tr>
                                                        {{/if}}
                                                        <!--{{*商品分類 Layer 3 END *}}-->
                                                        {{/section}}
                                                    </table></td>
                                                    <td width="20" bgcolor="#fcfcfc">&nbsp;</td>
                                                </tr>
                                                {{/if}}
                                                <!--{{*商品分類 Layer 2 END *}}-->
                                                {{/if}}
                                                {{/section}}
                                            </table>
                                            <!--{{*商品分類 Layer 1 END *}}-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <button class="pic-BgText-color-green admweb-v2-marketing-form-head_search-btn js-marketing-form-head-search-btn" name="btn_submit" type="submit" id="btn_submit" data-dismiss="modal">{{$lang.admin.basic.33}}<!--{{*設定 *}}--></button>
                                        </td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                    </td>
                    {{/if}}
                    <!--- 總分類表 END ---------------------------------------->
                </tr>
            </form>
        </table>
    </div>
    <!-- 右側內容 End-->
</div>

